<!DOCTYPE html>
<html>
  <head>
    <title>Producer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <% flash.each do |_type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </body>
</html>
